{{> admin/adminHeader}}

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    {{> admin/adminTopnav}}
    <div class="content-wrapper">

        {{> admin/messages}}
        {{{body}}}

        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->

        {{> admin/adminFooter}}
    </div>
</body>

</html>