<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © Your Website 2020</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Page level plugin JavaScript-->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/vendor/datatables/jquery.dataTables.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.js"></script>
<!-- Custom scripts for all pages-->
<script src="/js/sb-admin.min.js"></script>
<!-- Custom scripts for this page-->
<script src="/js/sb-admin-datatables.min.js"></script>
<script src="/js/sb-admin-charts.min.js"></script>

<script>
    $(document).ready(function () {
        setTimeout(() => {
            $('.auto-hide').slideUp(300);
        }, 2000);

        $('#create-category-button').on('click', (e) => {
            e.preventDefault();
            var data = $('#categoryTitle').val();

            $.ajax({
                url: '/admin/category/create',
                type: 'POST',
                data: { name: data },
                success: (response) => {
                    var html = `<tr>
                        <td>${response.title}</td>
                        <td class="d-flex justify-content-center">
                            <a href="/admin/category/edit/${response._id}" class="btn btn-sm btn-warning mr-2"
                                role="button">Edit</a>
                            <form action="/admin/category/delete/${response._id}?newMethod=DELETE" method="post">
                                <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>`;

                    $('.category-list').append(html);

                }
            });
        });

        $('#update-category-button').on('click', (e) => {
            console.log("HERE!");
            e.preventDefault();
            var data = $('#categoryTitle').val();
            var id = $('#categoryID').val();

            $.ajax({
                url: `admin/category/edit/${id}`,
                type: 'POST',
                data: { name: data },
                success: (response) => {
                    window.location.href = response.url;
                }
            });
        });



        /*        $(document).on('click', '#deleteButton', (e) => {
                        e.preventDefault();
        
                        console.log('done');
        
                        var x = $('#delete-form').action;
                        var data = x.substring(x.lastIndexOf('/') + 1);
        
                        $.ajax({
                            url: "/admin/category/delete",
                            type: "POST",
                            data: { name: data },
                            success: function (response) {
                                console.log("INSIDE\n");
                            }
        
                        });
        
                    });
        */

    });
</script>